* {
	box-sizing: border-box;
}

body {
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
	color: #fff;
}

h1 {
	text-align: center;
	font-size: 175%;
	color: #536d7c;
	padding-bottom: 30px;
}

section {
	border: 1px solid #000;
	margin: 0 20px 20px 20px;
}

.container {
	clear: both;
	overflow: auto;
	width: 100%;
	/* margin: auto; */
}

#sect1,
#sect2,
#sect3 {
	background-color: #FEFBE7;
	color: #000;
}

#s1 {
	background-color: #E04D01;
	color: #fff;

}

#s2 {
	background-color: #F8B400;
	color: #fff;

}

#s3 {
	background-color: #9FC088;
	color: white;
}

span {
	float: right;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10px;
	font-size: 125%;
}

p {
	clear: both;
	padding: 10px;
}


/* 12 grid layout */

/* desktop-view */
@media (min-width: 992px) {
	.col-1 {
		width: 8.33%;
		float: left;
	}

	.col-2 {
		width: 16.66%;
		float: left;
	}

	.col-3 {
		width: 25%;
		float: left;
	}

	.col-4 {
		width: 33.33%;
		float: left;
	}

	.col-5 {
		width: 41.66%;
		float: left;
	}

	.col-6 {
		width: 50%;
		float: left;
	}

	.col-7 {
		width: 58.33%;
		float: left;
	}

	.col-8 {
		width: 66.66%;
		float: left;
	}

	.col-9 {
		width: 75%;
		float: left;
	}

	.col-10 {
		width: 83.33%;
		float: left;
	}

	.col-11 {
		width: 91.66%;
		float: left;
	}

	.col-12 {
		width: 100%;
		float: left;
	}

}

/* tablet view */
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1 {
		width: 8.33%;
		float: left;
	}

	.col-md-2 {
		width: 16.66%;
		float: left;
	}

	.col-md-3 {
		width: 25%;
		float: left;
	}

	.col-md-4 {
		width: 33.33%;
		float: left;
	}

	.col-md-5 {
		width: 41.66%;
		float: left;
	}

	.col-md-6 {
		width: 50%;
		float: left;
	}

	.col-md-7 {
		width: 58.33%;
		float: left;
	}

	.col-md-8 {
		width: 66.66%;
		float: left;
	}

	.col-md-9 {
		width: 75%;
		float: left;
	}

	.col-md-10 {
		width: 83.33%;
		float: left;
	}

	.col-md-11 {
		width: 91.66%;
		float: left;
	}

	.col-md-12 {
		width: 100%;
		float: left;
	}
}

/* mobile view */
@media (max-width: 767px) {
	.col-1 {
		width: 100%;
		float: left;
	}

	.col-2 {
		width: 100%;
		float: left;
	}

	.col-3 {
		width: 100%;
		float: left;
	}

	.col-4 {
		width: 100%;
		float: left;
	}

	.col-5 {
		width: 100%;
		float: left;
	}

	.col-6 {
		width: 100%;
		float: left;
	}

	.col-7 {
		width: 100%;
		float: left;
	}

	.col-8 {
		width: 100%;
		float: left;
	}

	.col-9 {
		width: 100%;
		float: left;
	}

	.col-10 {
		width: 100%;
		float: left;
	}

	.col-11 {
		width: 100%;
		float: left;
	}

	.col-12 {
		width: 100%;
		float: left;
	}

}